.header {

    height: 90vh;


  
    &__row {
        display: flex;

        @media only screen and (max-width : $bp-medium)  {
            
            display: flex;
            flex-direction: column;
                    
        }
    }

    &__nav {
        flex: 0 0 6%;
        background-color: $color-primary;
        
    }

    &__main {
        flex: 1;
       
    }

    &__main-row {
        display: flex;

        @media only screen and (max-width : $bp-medium)  {
            display: flex;
            flex-direction: column;
            margin-bottom: 2rem;
                    
        }
        
    }

    &__logo {
        
        height: 3rem;
        align-self: center;
    }


    &__btn  {
        align-self: flex-start;
    }

    &__first-haf {

        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        flex: 0 0 70%;
        background-image: linear-gradient(rgba($color-secondary, .93), rgba($color-secondary, .93)), url(../img/hero.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 8rem;
        padding-top: 4rem;

        @media only screen and (max-width : $bp-medium)  {
            
            padding: 5rem;
            padding-top: 3rem;
                    
        }
    }

    &__seenon-text  {
       display: flex;
       align-self: center;
       justify-content: center;
       align-items: center;
       font-size: 1.6rem;
       color: $color-grey-light-2;
       

       &::before,
        &::after {
            content: "";
            margin: 1rem;
            height: 1px;
            width: 400px;
            display: block;
            background-color: #fff;

        }
    }

    &__second-haf {
        flex: 1;
        background-color: $color-secondary;


    }
}

.heading-11 {
    color: #fff;
    font-size: 4.5rem;
    line-height: 1;
}

.seenon-logos {
        width: 100%;
    display: flex;
    flex-direction: row;
    // justify-content: space-evenly;
    justify-content: space-between;
    flex-wrap: wrap;
    
 }
 .logo {
    // margin: 0 5rem;
 }

.logoo {
    height: 2.5rem;
    width: 100%;
    filter: brightness(70%);
   
}

@media only screen and (max-width : $bp-medium)  {
            
    .test1,
    .test2,
    .test3 {
        margin-bottom: 2rem ;
    }

    .logo {
        height: 2rem;
        // width: 100%;
    }
    .test2 {
        font-size: 3rem;
    }
            
}

@media only screen and (max-width : $bp-medium)  {
    .test2 {
        font-size: 2rem;
    }
}
